
body {
    background: -webkit-linear-gradient(-45deg, rgb(242,249,254) 86%,rgb(199,229,249) 100%);
    background: linear-gradient(135deg, rgb(242,249,254) 86%,rgb(199,229,249) 100%);
}

.main {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 4s;
    -webkit-animation-delay: 4s; 
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

h1, h2, h3, h4, h5, h6 {
    color: #4487df;
    font-family: 'Alegreya', serif;
}

.intro {
    background: url('../img/copertina_opacity.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
    display: table;
}

.intro-container {
    display: table-cell;
    vertical-align: middle;
}

.loader-title {
    position: relative;
    top: 25%
}

article.intro-preview {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    text-align: justify;
}

article.biografy {
    padding: 4em;
    font-size: 16px;
    font-family: 'Alegreya', serif;
    text-align: justify;
    background-color: white;
}

.carousel-inner > .item {
    height: 85vh;
    width: 100vw;
}

.info h2 {
    text-align: center;
}

.info-title {
    margin-bottom: 50px;
}

.info-list {
    list-style: none;
    padding-left: 0px;
}

.info-list > li {
    margin-top: 10px;
    font-size: 1.2vw;
    text-align: justify;
}

.contact-info {
    margin-top: 20px;
}

.contact-info i {
    color: #4487df;
}

.contacts {
    margin-top: 30px;
    background: black;
}

.map {
    padding-top:20px;
}
  
.carousel-inner > .item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.loader {
    width: 400px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    text-align: center
}


.loader::before {
    top: 0;
}

.loader::after {
    bottom: 0;
}

hr { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.subject-title {
    position: absolute;
    top: 10%;
    color: white;
    font-size: 3vw;
    font-family: 'Alegreya', serif;
    z-index:1;
    opacity: 0;

}

.subject-description {
    position: absolute;
    top: 30%;
    color: white;
    font-size: 2.5vw;
    font-family: 'Alegreya', serif;
    z-index:1;
    opacity: 0;
}

.subject-description ul {
    list-style: none;
}

.animate-title {
    opacity: 1;
    -webkit-animation-name: inByLeft;
    animation-name: inByLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate-description {
    opacity: 1;
    -webkit-animation-name: inByRight;
    animation-name: inByRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.gallery {
    padding-left: 0px;
    padding-right: 0px;
}

.row-section {
    background: url('../img/copertina_opacity.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

@media only screen and (max-width : 767px) {

    article.biografy {
        margin-top: 30px;
    }

    article.intro-preview {
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 2em;    
    }

    .info .profile-image {
        text-align: center;
    }

    .info-row {
        background: white;
    }

    .info-list > li {
        font-size: 10px;
        
    }

    .carousel-inner > .item {
        height: 40vh;
    }

    .subject-title {
        font-size: 25px;
    }
    
    .subject-description {
        top: 30%;
        font-size: 15px;
    }
}

@media screen and (orientation: landscape) and (max-width : 1200px){
    .carousel-inner > .item {
        height: 85vh;
    }
  }
  

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes inByLeft {
    0% {left: -100%;}
    100% {left: 10%;}
}
 
 @keyframes inByLeft {
    0% {left: -100%;}
    100% {left: 10%;}
}

@-webkit-keyframes inByRight {
    0% {right: -100%;}
    100% {right: 30%;}
}
 
 @keyframes inByRight {
    0% {right: -100%;}
    100% {right: 30%;}
}
